<h2>Flight info</h2>
<dl class='row'>
  <dt class='col-md-3'>Departure Airport:</dt>
  <dd class='col-md-9'><%= flight.departure_airport.name %></dd>
  <dt class='col-md-3'>Destination Airport:</dt>
  <dd class='col-md-9'><%= flight.destination_airport.name %></dd>
  <dt class='col-md-3'>Departure Time:</dt>
  <dd class='col-md-9'><%= flight.departure %></dd>
</dl>
