<h3>Passenger</h3>
<dl class='row'>
  <dt class='col-md-3'>Name:</dt>
  <dd class='col-md-9'><%= passenger.name %></dd>
  <dt class='col-md-3'>Email:</dt>
  <dd class='col-md-9'><%= passenger.email %></dd>
</dl>
